{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница регистрации</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main_topic/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main_topic/css/styles.css' %}" type="text/css">
    <script src="{% static 'main_topic/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="login_page">Регистрация</h1>

<form class="user_register" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button class="enter" style="background-color: rgba(255, 255, 255, 0); border: none; outline: none" type="submit">Регистрация</button> </p>
</form>
</body>
</html>